.App {
  text-align: center;
}

.btn {

  padding: 20px;
  border-radius: 30%;
  font-size: 20px;
  margin: auto;
}
.btn1 {

  padding: 10px;
  font-size: 20px;
  border-radius: 30%;
  margin: 5px;
}
input, select {

  margin: 5px;
  border: none;
  border-radius: 49px;
  padding: 10px;
  font-size: 25px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #d9d9d9,
            inset -20px -20px 60px #ffffff;
  text-align: center;
}

h1 {

  font-size: 50px;
}

.react-tabs {
  display: flex;
  margin: auto;
  width: 60%;
  height: 400px;
  background: white;
  border-radius: 49px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  20px 20px 72px #787878,
               -20px -20px 72px #ffffff;
  text-align: center;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0;
  padding: 0;
  color: white;
  background: #9c9c9c;
 
}

.react-tabs__tab {
  height: 60px;
  list-style: none;
  padding: 10px ;
  cursor: pointer;
  
}

.react-tabs__tab--selected {
  background:rgb(138, 137, 137);
}

.react-tabs__tab-panel {
  display: none;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.panel-content {
  text-align: center;
}
